<section class="m-5">
    <mat-card class="example-card">
        <mat-card-header class="d-flex flex-column align-items-center">
            <mat-card-title>Student Attendance</mat-card-title>
            <mat-card-subtitle>Select the stuent roll number and mark the attendance for any given
                date</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-card-content class="d-flex flex-column m-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Roll Number</mat-label>
                    <input #rollNoInput type="text" placeholder="Roll No." matInput formControlName="rollNo"
                        [matAutocomplete]="auto" (input)="filter()" (focus)="filter()" />
                    <mat-autocomplete requireSelection #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option.rollNo">{{option.rollNo + " " + option.name }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="date" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
                <mat-radio-group formControlName="status" aria-label="Select an option">
                    <mat-radio-button value="present">Present</mat-radio-button>
                    <mat-radio-button value="absent" class="ms-4">Absent</mat-radio-button>
                </mat-radio-group>
                <button mat-raised-button color="primary" class="inline" [disabled]="attendanceForm.invalid">MARK
                    ATTENDANCE</button>
            </mat-card-content>
        </form>
    </mat-card>
</section>